@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Montserrat", sans-serif !important;
}

.hero-bg-image {
    background: url(../../public/images/background.jpg) no-repeat center center /
        cover;
    background-attachment: fixed;
    height: 600px;
    position: relative;
}
.hero-bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

/* Media Query */
@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}
@media (max-width: 600px) {
    .foot1 {
        display: none;
    }
    .foot2 .image {
        display: none;
    }
    .foot2 {
        line-height: 1.4;
        margin-top: 60px;
        padding: 20px;
        text-align: center;
    }
    .cat {
        font-size: 10px;
        padding: 0;
        margin-right: 5px;
        background-color: transparent;
    }
    .catt {
        color: white;
        padding: 5px;
    }
}
@media (max-width: 640px) {
    .desc,
    .edit,
    .btn {
        margin: 0 20px;
    }
    .tex1,
    .tex2 {
        font-size: 15px;
        margin: 0 10px;
    }
    .tex1 i,
    .tex2 i {
        display: none;
    }
}
